<!DOCTYPE html>
<html>
<head>
<script src="reg.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.js"></script>
<script type="text/javascript" src="./resources/js/reg.js"></script>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary text-color-white navbar-dark justify-content-center">
  
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link text-white" href="login">Lonin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="register">Register</a>
    </li>
  </ul>
 
</nav>
   <div class="card-header">
   <h4 style=color:gray align="center">User Registration Page</h4>
   </div>
	<div class="container mt-5">
		<div class="row ">
			<div class="col-md-8 offset-md-3">
				
					<form action="saveUser" id="myform" method="POST" class="form">
			
						<div class="form-group row">
							<label class="text-warning col-md-4 col-form-label text-md-right">User Name:</label>
							<div class="col-md-6">
								<input type="text" name="userName"  id="userName" class="form-control required"/>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="text-warning col-md-4 col-form-label text-md-right">User Email:</label>
							<div class="col-md-6">
								<input type="text" name="userEmail"  id="userEmail" class="form-control required"/>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="text-warning col-md-4 col-form-label text-md-right">User PWD:</label>
							<div class="col-md-6">
								<input type="password" name="userPwd"  id="userPwd" class="form-control required"/>
							</div>
						</div>
					
						<div class="row offset-md-4">
							<div class="col-md-6 col-form-label">
								<input type="submit" id="button" value="Register" class="btn btn-success" /> <input type="reset" value="Reset" class="btn btn-danger" />
							</div>
						</div>
						<div class="card-footer">
		     	           <span th:text="${msg}"></span>
			            </div>
			       </form>
		   </div>
	</div>
</div>
</body>
</html>